{% extends "base.html.twig" %}

{% block body %}

    <div class="float-right">
     <a href="{{ path('song_create',{id:album.id}) }}" class="btn btn-primary">Ajouter un titre</a>
    </div>                                
    

    <h2>Les titres</h2>

    <div class="row">

        {% for song in songs %}
        
            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.title }}</h5>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}